<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>

    <!-- Cache Configuration -->
    <add key="CacheAddress" value="127.0.0.1" />
    <!-- Número da porta -->
    <add key="CachePort" value="6379" />
    <!-- Tempo de expiração -->
    <add key="CacheExpirationInSeconds" value="900" />
    <!-- Senha do cache -->
    <add key="CachePassword" value="[Password]" />
    <!-- Fim: Cache Configuration -->

    <!-- Configuração do log de arquivo -->
    <add key="LogFileName" value="DNAuth.SlackWebHooksLayer" />
    <!-- Fim: Configuração do log de arquivo -->

    <!-- Configuração do sistema de diagnóstico -->
    <add key="DiagnosticLayerName" value="SlackWebHooksLayer" />
    <add key="DiagnosticInstanceId" value="SSWH001" />
    <add key="DiagnosticsSendIntervalInSeconds" value="60" />
    <!-- Fim: Configuração do sistema de diagnóstico -->

    <!-- Pelo tempo informado abaixo será executada essa operação -->
    <add key="TimeInMinutesToSendRequest_DiagnosticApi" value="1" />
    <add key="TimeInMinutesToSendRequest_SelfTest" value="1" />
    <!-- Url para o alerta consumir os jsons de informação e jogar no slack -->
    <add key="BaseAddress" value="http://137.116.85.224:8082" />
    <!-- Caminho para os serviços -->
    <add key="SelfTestResult" value="/selftest/results" />
    <add key="QueueInfo" value="/queue/info" />
    <!-- Dados do slack -->
    <add key="SlackAuthor" value="SlackWebHooks" />
    <add key="SlackPretext" value="Hey mochileiros! :squirrel:" />
    <add key="SlackChannel" value="https://hooks.slack.com/services/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" />
    <add key="ServerName" value="GLIAS DEV" />
    <add key ="IconUrl" value="https://cdn4.iconfinder.com/data/icons/STROKE/education_icons/png/128/backpack.png" />
    <add key ="AuthorIconUrl" value="https://cdn2.iconfinder.com/data/icons/freecns-cumulus/32/519791-101_Warning-128.png" />

    <!-- Titulo das mensagem do alerta -->
    <add key="ProblemsQueue" value="Problems in Queue Status Page" />
    <add key="ProblemsSelfTest" value="Problems in API Status Page" />

    <!-- Url de dashboard -->
    <add key ="SelfTestUrlDashboard" value="http://137.116.85.224:8083#/app/dashboard/selftest" />
    <add key ="QueueStatusUrlDashboard" value="http://137.116.85.224:8083#/app/dashboard/queue/info" />

    <!-- Mensagem de erro -->
    <add key ="ErrorIconUrl" value="https://cdn0.iconfinder.com/data/icons/hallowen_linux/128/Skull.png"/>
    <add key ="ErroTitle" value="Exception has occurred :scream:" />

  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>