<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>

    <!-- Cache Configuration -->
    <add key="CacheAddress" value="#{servicebus_redis_master}#"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- Número da porta -->
    <add key="CachePort" value="6379"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- Tempo de expiração -->
    <add key="CacheExpirationInSeconds" value="900"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- Senha do cache -->
    <add key="CachePassword" value="[Password]" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- Fim: Cache Configuration -->

    <!-- Configuração do log de arquivo -->
    <add key="LogFileName" value="DNAuth.SlackWebHooksLayer"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- Fim: Configuração do log de arquivo -->

    <!-- Configuração do sistema de diagnóstico -->
    <add key="DiagnosticLayerName" value="SlackWebHooksLayer"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DiagnosticInstanceId" value="SSWH001" />
    <add key="DiagnosticsSendIntervalInSeconds" value="60"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- Fim: Configuração do sistema de diagnóstico -->

    <!-- Pelo tempo informado abaixo será executada essa operação -->
    <add key="TimeInMinutesToSendRequest_DiagnosticApi" value="1"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TimeInMinutesToSendRequest_SelfTest" value="1"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- Url para o alerta consumir os jsons de informação e jogar no slack -->
    <add key="BaseAddress" value="http://40.84.6.206:8082"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- Caminho para os serviços -->
    <add key="SelfTestResult" value="/selftest/results"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DiagnosticApi" value="/queue/info"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- Dados do slack -->
    <add key="SlackAuthor" value="SlackWebHooks"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SlackPretext" value="Hey mochileiros! :squirrel:" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SlackChannel" value="https://hooks.slack.com/services/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"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ServerName" value="GLIAS PRD"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key ="IconUrl" value="https://cdn4.iconfinder.com/data/icons/STROKE/education_icons/png/128/backpack.png" />
    <add key ="AuthorIconUrl" value="https://cdn2.iconfinder.com/data/icons/freecns-cumulus/32/519791-101_Warning-128.png"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- Titulo das mensagem do alerta -->
    <add key="ProblemsQueue" value="Problems in Queue Status Page" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ProblemsSelfTest" value="Problems in API Status Page" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- Url de dashboard -->
    <add key ="SelfTestUrlDashboard" value="http://40.84.6.206:8083#/app/dashboard/selftest" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key ="QueueStatusUrlDashboard" value="http://40.84.6.206:8083#/app/dashboard/queue/info" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key ="ErrorIconUrl" value="https://cdn0.iconfinder.com/data/icons/hallowen_linux/128/Skull.png" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="ErroTitle" value="Exception has occurred :scream:" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>